.mainDiv {
    width:45%;
    margin-left:auto;
    margin-right:auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* Ecken abrunden */
    padding: 20px 40px 20px 40px;
    background-color: #fff;
    opacity: 0.8;
    margin-top:5vh;
    /* height: 400px;
    width: 700px; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.inhalt{
    opacity: 1.0 !important;
}

body {
    background-color: rgb(59, 77, 241);
    background-image: url("/images/spiel-backgroundimg2.png");
    background-color: #cccccc;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* Zentrierung der PixiJS-App */
canvas {
    margin: 0 auto;
    display: block;
}

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    }
    
    .btn:hover{
    transition : 1000ms;
    padding: 8px 30px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
    
    }