.zentrieren-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Dies stellt sicher, dass der Container die gesamte Bildschirmhöhe einnimmt */
}

body {
    background-color: rgb(59, 77, 241);
    background-image: url("/images/spiel-backgroundimg-mobile.png");
    background-color: #cccccc;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


.lobbyText{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px
}

.btn{
font-family: Roboto, sans-serif;
font-weight: 600;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
/* display: flex;
flex-direction: row; */
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{
transition : 1000ms;
padding: 8px 30px;
transform : translateY(-0px);
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;

}


.start-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}
