html, body, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);  
    color: #fff;
    overflow: hidden; 
  }
  
  * {
    font-family: 'open sans', 'lato', 'helvetica', sans-serif;
  }
  
  .page {
    position: absolute;
  }
  
  #p1 {
    left: 0;
  }
  
  #p2, #p3, #p4, #p5 {
    left: 200%;
  }
  
  #p1 {     
    background-color: black;
    background-image: url("/images/hintergrund-img7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center; 
    float: right;
}
  #p2 { background: tomato; }
  #p3 { background: gold; }
  #p4 { background: deeppink; }
  #p5 { background: rebeccapurple; }
  
  #t2:target #p2,
  #t3:target #p3,
  #t4:target #p4,
  #t5:target #p5 {
    transform: translateX(-190%)!important;
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%)!important;
    -o-transform: translateX(-190%);
    /* transition-delay: .01s !important; */
  }
  
  #t2:target #p1, 
  #t3:target #p1,
  #t4:target #p1,
  #t5:target #p1{
    background-image: url("/images/hintergrund-img7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center; 
    /* background-color: black; */
 }
  
  #t2:target #p1 .icon, 
  #t3:target #p1 .icon,
  #t4:target #p1 .icon,
  #t5:target #p1 .icon {
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  
  .icon {
    color: #fff;
    font-size: 5vh;
    display: block;
    padding-bottom: 3vh;
  }
  
  ul .icon:hover {
    opacity: 0.5;
  }
  
  .page .icon .title {
    line-height: 2;
  }
  
  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon,
  #t5:target ul .icon{
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    transition-delay: .25s;
  }
  
  #t2:target #dos,
  #t3:target #tres,
  #t4:target #cuatro,
  #t4:target #cinco {
    transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    -moz-transform: scale(1.2) !important;
    -o-transform: scale(1.2) !important;
  }
  
  ul {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50vh;
    width: 10%;
    padding: 0;
    text-align: center;
   }
  
  #menu .icon {
    margin: 30px 0;
    transition: all .5s ease-out !important;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
  }
  
  a {
    text-decoration: none;
  }
  
  #p4 .hint {
    display: inherit !important;
  }
  
  .hint a {
    color: yellow;
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
  }
  
  .hint a:hover {
    color: #FFF;
  }
  
  .line-trough {
    text-decoration: line-through;
  }
  
.page .icon {
    position: absolute;
    top: 0;
    bottom: 20%;
    right: 10%;
    left: 0;
    width: 75vw;
    height: 60vh;
    margin: auto;
    text-align: center;
    line-height: 1.3;
    transform: translateX(360%)!important;
    -webkit-transform: translateX(360%);
    -moz-transform: translateX(360%);
    -o-transform: translateX(360%);
    transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px; 
}
.hint {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(255, 255, 255); /* Add text stroke */
  padding: 10px; 
  text-align: center;
}

.text-shadow {
  text-shadow: 2px 2px 4px #ee3131;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.btn {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff0000;
  border: none;
  margin-top: -4vh;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 12px; /* For rounded corners*/
}

.btn:hover {
  background-color: #FF6347;
}
  
  .page#p1 .icon {
    transform: translateX(10%) !important;
  }
  
  #t2:target .page#p2 .icon,
  #t3:target .page#p3 .icon,
  #t4:target .page#p4 .icon,
  #t5:target .page#p5 .icon {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transition-delay: 0.5s;
  }

  ul li {
    display: block !important;
}
.flex-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.flex-item {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: -3vh;
  margin-left: 2vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

select {
  width: 30%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 0.5em;
  color: #333;
}

label {
  /* display: inline-block; */
  width: 20%;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #fff;
}